pytest
pytest-asyncio
httpx
websockets
fastapi
uvicorn
sqlalchemy
asyncpg
psycopg2-binary
alembic
python-jose
passlib[bcrypt]
bcrypt<4.0.0
pydantic
pydantic-settings
redis
email-validator
prometheus-fastapi-instrumentator
fastapi-limiter
httpx[http2]
aioboto3
Pillow
pyotp
pyrate-limiter
arq
python-multipart
greenlet
